<?xml version="1.0" encoding="UTF-8"?>

<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.vormer.cordova.sygicfleet"
    version="1.1.1">

    <name>SygicFleetEmbedded</name>

    <description>
        Sygic Professional Navigation Fleet 3D Embedded 26.0.7
        bridge for Cordova/OutSystems Android
    </description>

    <license>UNLICENSED</license>

    <js-module
        src="www/SygicFleet.js"
        name="SygicFleet">

        <clobbers target="SygicFleet" />

    </js-module>

    <platform name="android">

        <config-file
            target="res/xml/config.xml"
            parent="/*">

            <feature name="SygicFleet">

                <param
                    name="android-package"
                    value="com.vormer.sygicfleet.SygicFleetPlugin" />

            </feature>

        </config-file>


        <!-- Java Cordova bridge -->

        <source-file
            src="src/android/SygicFleetPlugin.java"
            target-dir="src/com/vormer/sygicfleet" />

        <source-file
            src="src/android/SygicFileProvider.java"
            target-dir="src/com/vormer/sygicfleet" />
        
        <!-- Sygic Embedded SDK -->
        <source-file
            src="libs/embedded-with-res-26.0.7.aar"
            target-dir="app/libs" />


        <!-- Additional Gradle configuration -->

        <framework
            src="src/android/sygic.gradle"
            custom="true"
            type="gradleReference" />


        <!-- AndroidX / Kotlin dependencies -->

        <!-- Sygic AndroidX dependencies -->

        <framework src="androidx.appcompat:appcompat:1.7.0" />
        <framework src="androidx.fragment:fragment:1.8.5" />
        <framework src="androidx.activity:activity:1.9.3" />
        <framework src="androidx.constraintlayout:constraintlayout:2.2.0" />
        <framework src="androidx.preference:preference:1.2.1" />

        <framework src="androidx.lifecycle:lifecycle-viewmodel-ktx:2.8.7" />
        <framework src="androidx.lifecycle:lifecycle-livedata-ktx:2.8.7" />

        <framework src="androidx.work:work-runtime-ktx:2.10.0" />
        <framework src="androidx.multidex:multidex:2.0.1" />

        <!-- Google Play Services -->

        <framework src="com.google.android.gms:play-services-location:21.3.0" />
        <framework src="com.google.android.gms:play-services-base:18.5.0" />
        <framework src="com.google.android.gms:play-services-basement:18.5.0" />

        <!-- Kotlin coroutines -->

        <framework src="org.jetbrains.kotlinx:kotlinx-coroutines-android:1.8.1" />


        <!-- Permissions -->

        <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION" />

        <uses-permission
            android:name="android.permission.ACCESS_COARSE_LOCATION" />

        <uses-permission
            android:name="android.permission.INTERNET" />

        <uses-permission
            android:name="android.permission.POST_NOTIFICATIONS" />

    </platform>

</plugin>
